<mtapp:setting
 id="Enable"
 label="<__trans phrase='_Enable'>">
    <input type="checkbox" name="Enable" id="Enable" value="1" <mt:if name="Enable"> checked="checked"</mt:if> size="20"/>
</mtapp:setting>
<mtapp:setting
 id="CatID"
 label="<__trans phrase='_CatID'>">
    <input type="text" name="CatID" id="CatID" value="<mt:var name="CatID" escape="html">" size="8" />
</mtapp:setting>
